
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #dbdada;
	background: #333333;
}

a:link, a:visited { color: #5b93ef; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #5b93ef; text-decoration: none; }

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }

.em_text {
	color: #ffffff;
}

.button_01 a {
	display: block;
	width: 95px;
	height: 21px;
	padding: 5px 25px 0 0;
	background: url(images/templatemo_button_01.jpg) no-repeat;
	
	
	color: #dcdada;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.header_01 {
	clear: both;
	height: 27px;
	padding: 8px 0 0 10px;
	margin-bottom: 20px;
	background: #161616 url(images/templatemo_header_icon.jpg) center right no-repeat;	
	font-size: 20px;
	color: #ffffff;
}

.header_02 {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 15px;
	font-size: 22px;
	color: #ffffff;
}

#templateo_container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

/* top panel */

#templatemo_top_panel {
	clear: both;
	width: 960px;
	height: 110px;
	padding: 10px 0;
}

#site_logo {
	float: left;
	width: 450px;
	height: 110px;
}

#site_logo a {
	outline: none;
}

#site_title {
	float: left;
	width: 450px;
	margin-top: 30px;
	font-size: 40px;
	padding: 10px 0;
	color: #e8e8e8;
}

#site_title a {
	color: #e8e8e8;
	text-decoration: none;
}

#site_title span {
	display: block;
	margin-left: 70px;
	margin-top: 20px;
	font-size: 16px;
	color: #767676;
}

#header_menu_section {
	float: right;
	width: 210px;
}

.header_menu a {
	float: left;
	display: block;
	width: 90px;
	height: 110px;
	outline: none;
}

.home_menu a { background: url(images/home_icon.jpg) no-repeat; margin-right: 30px; }
.home_menu a:hover { background: url(images/home_icon_hover.jpg) no-repeat; }

.contact_menu a { background: url(images/contact_icon.jpg) no-repeat; }
.contact_menu a:hover { background: url(images/contact_icon_hover.jpg) no-repeat; }

/* end of top panel */

/* menu & banner panel */

#templatemo_menu_banner_panel {
	clear: both;
	height: 280px;
	padding: 10px;
	background: #3c3b3b;
	overflow: hidden;
}

/* menu */

#templatemo_menu_wrapper {
	float: left;
	width: 278px;
	height: 278px;
	background: #000000;
	padding: 1px;
	overflow: hidden;
}

#templatemo_menu {
	padding: 14px 28px;
	border: 1px solid #313131;
	background: #262626;
	overflow: hidden;	
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	width: 200px;
	height: 38px;
	padding: 0 0 0 20px;
	margin: 0px;	
	background: #161616;	
	margin-bottom: 4px;
}

#templatemo_menu ul li:hover {
	background: #0d0d0d;
}

#templatemo_menu ul li a {
	display: block;
	width: 170px;
	height: 28px;
	padding: 10px 0 0 30px;
	color: #9fa2a4;
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	background: url(images/templatemo_menu_list_icon.jpg) left center no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #ffffff;
	
}

#templatemo_menu .last {
	margin-bottom: 0px;
}

/* end of menu*/

#templatemo_banner {
	float: right;
	width: 550px;
	height: 180px;
	padding: 50px;
	overflow: hidden;
	background: url(images/templatemo_banner_bg.jpg) no-repeat;
}

#templatemo_banner p {
	font-size: 14px;
	color: #ffffff;
}

#templatemo_banner a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

/* end of menu & banner panel */

#templatemo_content_wrapper {
	clear: both;
	width: 940px;
	background: #3c3b3b;
	padding: 10px;
	margin-top: 10px;	
}

#templatemo_content {
	padding: 30px;
	background: #262626;
}

#templatemo_side_column {
	float: left;
	width: 220px;
}

.side_column_content {
	clear: both;
	padding: 0 10px;
}

.news_section {
	clear: both;
	margin-bottom: 20px;
}

.news_date {
	color: #ffffff;
	font-weight: bold;
}

.news_title {
	font-size: 12px;
	color: #5b93ef;
	font-weight: bold;
}

#templatemo_main_content_column {
	float: right;
	width: 600px;
}

.section_w600 {
	padding: 0 10px;
}

#templatemo_main_content_column p {
	margin-bottom: 15px;
}

#templatemo_main_content_column img {
	border: 10px solid #000000;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin: 3px 15px 5px 0;
}

.section_w280 {
	width: 280px;
}

.section_w280_content {
	padding: 0 10px;
}

.content_list_01 {
	margin: 0 0 0 40px;
	padding: 0px;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 5px 0;
	list-style: decimal-leading-zero;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 940px;
	padding: 20px 10px;
	text-align: center;
}

#templatemo_footer a {
	color: #ffffff;
	text-decoration: none;
}
/* end of footer */