
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	background: #c0c0c0 url(images/templatemo_body.jpg) repeat-x top;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

a:link, a:visited { color: #f2c3e7; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #f2c3e7; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.fl {
	float: left;
}

.fr {
	float: right;
}

#templatemo_wrapper_outer {
	width: 100%;
	background: url(images/templatemo_body_top.jpg) no-repeat top center;
}

#templatemo_wrapper_inner {
	width: 980px;
	margin: 0 auto;
}

/* site title */

#templatemo_header {
	width: 900px;
	height: 290px;
	padding: 0 40px;
	margin: 0 auto;
	background:  url(images/templatemo_header.jpg) no-repeat;
}

#templatemo_header #site_title {
	float: left;
	margin-top: 120px;
	width: 980px;
}

#templatemo_header a {
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #e25ba1;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header a span {
	display: block;
	clear: both;
	margin-top: 10px;
	font-size: 16px;
	color: #333;	
}
/* end of site title */

/* menu */

#templatemo_menu {
	width: 980px;
	height: 70px;
	margin: 0 auto;
	padding: 0;
    background: url(images/templatemo_menu.jpg) no-repeat;
}

#templatemo_menu ul {
	width: 500px;
	margin: 0;
	padding: 20px 10px 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	display: block;
	float: left;
	height: 25px;
	margin-right: 30px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #f2c3e7;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #97e33e;
}

/* end of menu */

#templatemo_content_wrapper {
	clear: both;
	margin: 30px 20px;
}

/* sidebar */

#templatemo_sidebar {
	float: left;
	width: 280px;
}

.sidebar_box {
	clear: both;
	margin-bottom: 40px;
}

.sidebar_box h2 {
	color: #333333;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sidebar_box .sidebar_box_content {
	padding: 0;
}

.side_menu {
	list-style: none;
	padding: 0px;
	margin: 0 0 0 0;
}

.side_menu li {
	padding: 0;
	margin: 0;
}

.side_menu li a {
	display: block;
	color: #333333;
	padding: 5px 10px;
	font-size: 15px;
	border-bottom: 1px dotted #777777;
}
.side_menu li a:hover {
	text-decoration: none;
	background: #97e33e;
	color: #FFFFFF;
}

.news_box {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #777777;
}

.news_box h3 a {
	color: #333333;
	font-size: 14px;
	text-decoration: underline;
}
.news_box p {
	color:#666666;
}

/* end of sidebar */

/* content */

#templatemo_content {
	float: right;
	width: 600px;
}

.post_section {
	clear: both;
	position: relative;
	padding: 0 30px 30px 10px;
	background: url(images/templatemo_post_box_middle.jpg) repeat-y;	
	margin-bottom: 20px;
}

.post_section .top {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 4px;
	background: url(images/templatemo_post_box_top.jpg) no-repeat;
}

.post_section .bottom {
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 600px;
	height: 4px;
	background: url(images/templatemo_post_box_bottom.jpg) no-repeat;
}

.post_section .post_content {
	padding: 30px 0 0 100px;
	background: url(images/templatemo_post_header.jpg) top left no-repeat;
}

.post_section h2  {
	color: #97e33e;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	background: url(images/templatemo_header.png) no-repeat bottom left;
}

.post_section h2 a {
	color: #97e33e;
}

.post_section h2 a:hover {
	text-decoration: none;
}

.post_section p {
	margin-bottom: 20px;
}

.post_section img {
	margin: 20px 0;
	border: 5px solid #000;
}

/* end of content */

/* footer */

#templatemo_footer_outer {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #5f5f5f url(images/templatemo_footer_wrapper_outer.jpg) top repeat-x;
}

#templatemo_footer_inner {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_footer_wrapper.jpg) top center no-repeat;
}

#templatemo_footer {
	clear: both;
	width: 540px;
	margin: 0 auto;
	padding: 100px 20px 40px 420px;
	margin-top: 30px;
	background: #5f5f5f url(images/templatemo_footer.jpg) top center no-repeat;
}

#templatemo_footer h3 {
	font-size: 14px;
	font-weight: bold;
	color: #97e33e;
	margin-bottom: 10px;
}

#templatemo_footer a:hover {
	color: #97e33e;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

.section_w180px {
	float: left;
	width: 160px;
	padding-right: 20px;
}

/* end of footer */