
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #838fbb;
	background: #08123a;
}

a:link, a:visited { color: #ffffff; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #99FFFF; text-decoration: underline; }

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { float: left; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_10 { margin-right: 10px; }
.margin_right_60 { margin-right: 60px; }

/* header */
#templatemo_header_wrapper{
	clear: both;
	width: 100%;
	height: 150px;	
	margin: 0 auto;
	background: url(images/templatemo_header_repeat.jpg) repeat-x;
}

#templatemo_header_wrapper #templatemo_header_panel{
	width: 980px;
	height: 150px;	
	margin:0 auto;
	color: #FFF;
	text-align: center;
	background: url(images/templatemo_header.jpg) no-repeat;
}

#templatemo_header_panel #templatemo_header{
	padding-top: 50px;
	font-size: 40px;
	letter-spacing: 50px;
	font-family: "Times New Roman", Times, serif;
}

#templatemo_header_panel #templatemo_tagline{
	font-size: 20px;
	padding: 20px 0px 5px 0px;
	font-family: "Times New Roman", Times, serif;
}

/* end of header */

/* banner */
#templatemo_banner_wrapper{
	clear: both;
	width: 100%;
	height: 240px;	
	margin: 0 auto;
	background: url(images/templatemo_banner_repeat.jpg) repeat-x;
}

#templatemo_banner_wrapper #templatemo_banner_panel{
	width: 980px;
	height: 240px;	
	margin:0 auto;
	text-align: center;
	background: url(images/templatemo_banner.jpg) no-repeat;
}

/* end of banner */

/* menu */
#templatemo_menu_wrapper{
	width: 100%;
	height: 90px;	
	margin: 0 auto;
	background: url(images/templatemo_menu_bg_repeat.jpg) repeat-x;
}

#templatemo_menu_wrapper #templatemo_menu_panel{
	width: 980px;
	height: 90px;	
	margin:0 auto;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu_panel ul {
	float: left;
	margin: 20px 0 0 10px;
	padding: 0;
	list-style: none;
}

#templatemo_menu_panel ul li{
	display: inline;
}

#templatemo_menu_panel ul li a{
	float: left;
	width: 115px;
	height: 52px;
	padding: 8px 0 0 0;
	margin-right: 40px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #37a5dd;
	background: url(images/templatemo_menu_button.png) no-repeat;
}

#templatemo_menu_panel li a:hover, #templatemo_menu_panel li .current{
	color: #ffffff;
	background: url(images/templatemo_menu_button_hover.png) no-repeat;
}

#templatemo_menu_panel li .last {
	padding-right: 0px;
	border-right: none;
}
/* end of menu */

/* content */
#templatemo_content_wrapper{
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_content_bg.jpg) repeat-x;
}

#templatemo_content_wrapper #templatemo_content_panel{
	width: 960px;
	padding: 40px 10px 0 10px;
	margin:0 auto;
}

#templatemo_content_panel .content_panel_3col_section{ 
	float: left;
	width: 280px;
}

.content_panel_3col_section p{
	text-align: justify;
	margin-bottom: 10px;
}

.content_panel_3col_section p a {
	color: #abbdfe;
}

.p_section {
 	color: #abbdfe;
	text-align: justify;
	text-decoration: underline;
	margin-bottom: 10px;
}

.services {
	margin: 20px 0 0 30px;
	padding: 0px;
}

.services li{
	padding-bottom: 10px;
}

.header_01 {
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 5px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.image_box_01 {
	padding: 4px;
	background: #7a93d0;
	margin-bottom: 10px;
}

.image_box_01 img {
	border: 1px solid #fff;	
}

.news_section {
	clear: both;
}

.news_section .news_image {
	float: left;
	margin: 3px 0 0 0;
	width: 82px;
	padding: 4px;
	background: #7a93d0;
}

.news_image img {
	width: 80px;
	height: 80px;
	border: 1px solid #ffffff;
}

.news_section .news_content {
	float: right;
	width: 170px;
}

.news_section .news_title {
	font-size: 12px;
	font-weight: bold;
	color: #abbdfe;
}


/* end of content */

/* footer */
#templatemo_footer_wrapper{
	clear: both;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #203172;
	background: #040a25;
}

#templatemo_footer_wrapper #templatemo_footer_panel{
	width: 980px;
	margin:0 auto;
	padding: 15px 0;
	text-align: center;
}

#templatemo_footer_panel a {
	color: #abbdfe;
}

/* end of footer */