/*
CSS Credit: http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
	background: #dda469;
}
		
a:link, a:visited { color: #000000; text-decoration: none; font-weight: bold; } 
a:active, a:hover { color: #000000; text-decoration: underline; }

p { margin: 0px; padding: 0 0 10px 0; text-align: justify; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 15px 0;
	padding: 2px 0 10px 0;
	font-size: 26px;
	font-weight: normal;
	background: url(images/templatemo_h1_bg.jpg) bottom left no-repeat;	
}

h3 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}


.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}


/* banner */

#templatemo_banner_wrapper {
	width: 100%;
	height: 210px;
	margin: 0 auto;
	background: url(images/templatemo_banner_wrapper_bg.jpg) center top no-repeat;
}

#templatemo_banner {
	width: 960px;
	height: 210px;
	margin: 0 auto;
	background: url(images/templatemo_banner_bg.jpg) center top no-repeat;
}
/* end of banner */

/* menu */
#templatemo_menu {
	float: right;
	margin-top: 125px;
	margin-right: 35px;
	width: 305px;
	height: 55px;
	overflow: hidden;
}

#templatemo_menu ul {
	margin: 0px;
	padding: 15px 0 0 10px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	padding-top: 20px;
	padding: 0 5px;
	margin: 0 5px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #000000;	
	font-weight: normal;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	border-bottom: 1px dashed #000000;
}
/* end of menu*/

/*  content */
#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_background.jpg) top center no-repeat;
}

#templatemo_content {
	width: 960px;
	margin: 0 auto;
	background: url(images/templatemo_background.jpg) top center no-repeat;
}

#main_column {
	float: left;
	width: 480px;
	margin: 16px 0 170px 0;
	padding: 20px 60px;
	background: url(images/templatemo_content_middle.png) repeat-y;
	position: relative;	
}

#main_column .content_top {
	position: absolute;
	width: 960px;
	height: 16px;
	top: -16px;
	left: 0px;
	background:url(images/templatemo_content_top.png) no-repeat;
}

#main_column .content_bottom {
	position: absolute;
	width: 960px;
	height: 170px;
	bottom: -170px;
	left: 0px;
	background: url(images/templatemo_content_bottom.png) no-repeat;	
}

#side_column {
	float: right;
	width: 350px;
	padding: 10px 0 313px 0;
	background: url(images/templatemo_image.png) bottom right no-repeat;
}

.section_w480 {
	clear: both;
	width: 480px;
}


.section_w350 {
	clear: both;
	width: 350px;
	margin-bottom: 30px;
}

.news_box {
	padding: 20px 60px 0 60px;
	height: 304px;
	background: url(images/news_bg.png) no-repeat;
}

.news_box h3 {
	font-size: 26px;
	border-bottom: 1px solid #5a4018;
	text-align: center;
}

.news_box p {
}

/* footer */
#templatemo_footer {
	clear: both;
	padding: 10px 0;
	text-align: left;
}


/* end of footer */
