/*
http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    background: #d7d7d7 url(images/templatemo_main_bg.jpg) top repeat-x;
}
		
a:link, a:visited { color: #000000; font-size:12px; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #CC0000; font-size:12px; text-decoration: underline; }

p { margin: 0px; padding: 0px; color: #333333; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.m_right { margin-right: 30px; }

.button_01 a {
	display: block;
	width: 106px;
	height: 30px;
	padding: 6px 0 0 0;
	background: url(images/templatemo_button_01.png) no-repeat;

	color: #191717;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;
}

h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 14px;
	font-weight: bold;
	color: #333;	
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}


#templatemo_container {
	width: 980px;
	margin: 0 auto;
}

/* site title */
#templatemo_site_title_wrapper {
	height: 180px;
	background: url(images/templatemo_site_title_bg.jpg) center top no-repeat;
}

#templatemo_site_title_wrapper #site_title {
	width: 285px;
	padding: 60px 0 0 0;
	margin: 0 auto;
	text-align: center;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}
/* end of site title */

/* banner */
#templatemo_banner {
	clear: both;
	width: 980px;
	height: 240px;
	background: url(images/templatemo_banner_bg.jpg) center no-repeat;
}
/* end of banner */

/* menu */
#templatemo_menu {
	width: 980px;
	height: 75px;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	width: 600px;
	padding: 22px 0 0 0;
	margin: 0 auto;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 98px;
	padding: 3px 2px 3px 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #c5c3c2;	
	background: url(images/templatemo_menu_divider.jpg) right repeat-y;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #ffffff;
}

#templatemo_menu li .last {
	background: none;
}
/* end of menu */

/* content */
#templatemo_content {
	clear: both;
	padding: 30px;
}

#templatemo_content a{
	font-style: italic;
}

#templatemo_content p {
	margin-bottom: 10px;
}

#templatemo_content h2 {
	height: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 10px 0 0 55px;
	margin: 0 0 20px 0;
	font-size: 26px;
	color: #232323;
	font-weight: normal;
	background:url(images/templatemo_header_bg.png) left center no-repeat;
}

.section_w920 {
	clear: both;
	width: 920px;
}

.section_w430 {
	width: 430px;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 860px;
	height: 70px;
	padding: 20px 60px;
	text-align: center;
	background: url(images/templatemo_footer_bg.jpg) no-repeat;
}

#templatemo_footer a {
	font-weight: bold;
	color: #000000;
}

#templatemo_footer .footer_menu {
	margin: 0 0 5px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #000000;
}

.footer_menu .last_menu {
	border: none;
}
/* end of footer */