body,ul,h1,h2,h3,p,input{margin: 0;padding: 0;}
body{font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
a{text-decoration: none;}
li{list-style: none;}

select,input,textarea{outline: none;border:none;background: none;}

.fl{float: left;}
.fr{float: right;}

.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom:1;}

img{border: 0px;}