/*
CSS Credit: http://sc.xueit.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 12px;
	color: #22260a;
	background: #b7b7b7;
}
		
a:link, a:visited { color: #22260a; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #22260a; text-decoration: underline;}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.fl { float: left; }
.fr { float: right; }

h1{
	display: block;
	margin: 0;
	padding: 10px 0 0 0;
	font-size: 30px;
	color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
}


h2{
	padding: 3px 0 5px 0;
	margin: 0 0 10px 0;
	color: #22260a;
}


h3{
	padding: 3px 0 5px 0;
	margin: 0 0 15px 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #ffffff;
}



h4 {
	padding: 0px;
	margin: 0 0 10px 0;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

#templatemo_container {
	width: 980px;
	background: url(images/templatemo_content_bg.jpg) repeat-y;
}

#templatemo_top_bar {
	width: 930px;
	padding-left: 40px; 
	padding-right: 10px;
	height: 110px;
	background: url(images/templatemo_top_bar_bg.jpg) top right no-repeat;
}

#templatemo_site_header {
	float: left;
	margin-top: 30px;
}

#templatemo_top_bar h1 a{
	color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
}

#templatemo_top_bar h1 a:hover{
	text-decoration: none;
}

#templatemo_top_bar h1 a span {
	display: block;
	margin: 5px 0 0 50px;
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
}

.twitter a{
	float: right;
	display: block;
	width: 170px;
	margin-top: 30px;
	padding: 20px 0 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;	
}

.twitter a:hover {
	text-decoration: none;	
}

.twitter a span {
	font-size: 12px;
	margin-top: 5px;
	display: block;
	letter-spacing: 5px;
}

.twitter a{

	background: url(images/twitter_icon.png) right bottom no-repeat;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 940px;
	height: 60px;
	padding-left: 40px;
	background: url(images/templatemo_menu_bar_bg.jpg) top right no-repeat;
}


#templatemo_menu ul {
	padding: 12px 0 0 0;
	margin: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	height: 23px;
	padding: 5px 15px 0 15px;
	margin-right: 10px;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;	
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	position: relative;
	background: url(images/templatemo_menu_hover_right.jpg) right center no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span{
	position: absolute;
	width: 5px;
	height: 28px;
	top: 0px;
	left: 0px;
	background: url(images/templatemo_menu_hover_left.jpg) no-repeat;
}

#templatemo_menu li .last{
	border-right: none;
}

/* end of menu*/

/* content */
#templatemo_content {
	clear: both;
	width: 980px;
}

#content_column {
	float: left;
	width: 500px;
	padding: 40px;
}

.post_box {
	padding-bottom: 30px;
	border-bottom: 1px dotted #000000;
	margin-bottom: 30px;
}

.post_box img {
	margin-bottom: 20px;
}

.post_title {
	float: left;
	width: 430px;
	margin-bottom: 20px;
}


.post_box h2 a {
	line-height: 24px;	
	color: #ffffff;
	font-weight: bold;
	font-size: 26px;	
	text-decoration: none;
}

.post_box h2 a:hover {
	color: #ffffff;
	text-decoration: none;
}

.post_info {
	margin: 0px;
	padding: 0px;
	color: #22260a; 
	font-size: 12px;
}

.post_info a {
	font-weight: bold;
	color: #22260a;
}

.post_info a:hover {
	text-decoration: none;
	color: #ffffff;
}

.comment_box a{
	float: right;
	display: block;
	width: 50px;
	height: 40px;
	padding-top: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background:url(images/comment_icon.jpg) no-repeat;
}

.comment_box a:hover {
	text-decoration: none;
}

.side_column_w200 {
	float: left;
	color: #e4e4e4;
	width: 180px;
	padding: 0px 10px;
}

.side_column_w200 .ads_180_90 img{
	margin-bottom: 10px;
}

.side_column_w200 .box {
	margin-bottom: 20px;
}

.side_column_w200 form {
	margin: 0px;
	padding: 0px;
}

.inputfield {
	height: 16px;
	width: 160px;
	padding: 2px 5px;
	margin: 0 0 10px 0;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

.submitbutton{
	float: right;
	margin: 0px;
	padding: 0 6px 3px 6px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
}

.side_menu {
	list-style: none;
	padding: 0px;
	margin: 0 0 0 0;
}

.side_menu li {
	padding: 0;
	margin: 5px 0;
}

.side_menu li a {
	display: block;
	padding: 3px 0;
	color: #e4e4e4;
	font-weight: normal;	
}

.side_menu li a:hover {
	color: #ffffff;
	text-decoration: none;
}

.news_section {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #22260a;
}

.news_section .news_title a{
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}


/* end of content */

/* footer */

#templatemo_footer {
	clear: both;
	width: 940px;
	padding: 30px 20px;
	color: #e4e4e4;
	background: #414141 url(images/templatemo_footer_top.jpg) top repeat-x;
}

.section_w920 {
	text-align: center;
	width: 920px;
}

.section_w920 a {
	color: #ffffff;
}

.section_w184 {
	float: left;
	width: 144px;
	padding: 0 40px 0 0;	
}

.section_w368 {
	float: left;
	width: 328px;
	padding: 0 40px 0 0;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

.footer_menu_list li a {
	color: #e4e4e4;
	font-weight: normal;
	text-decoration: none;
}

.footer_menu_list li a:hover {
	color: #ffffff;
	text-decoration: none;
}
/* end of footer */
