#container{
	height: 477px;
	margin: 0 auto;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	position: relative;
}

#container img{
	position: absolute;
	display: block;
	left: 0;
	border-left: 1px solid #ccc;
}