html {
	background: #96A183;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(images/templatemo_body_bg.jpg) repeat-x;
}

a:link, a:visited {	color: #494949; text-decoration: underline; }
a:active, a:hover { color: #000000; text-decoration: none; }


#templatemo_container {
	width: 887px;
	margin: auto;
}

#templatemo_header {
	width: 887px;
	height: 136px;
	background: url(images/templatemo_header_bg.jpg);
}

#templatemo_logo {
	float: left;
	width: 272px;
	height: 71px;
	background: url(images/templatemo_logo_bg.jpg);
	margin: 61px 0 0 40px;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}

#templatemo_logo h1 {
	color: #b3d46a;
	font-size: 24px;
	margin: 15px 0 0 20px;
	padding: 0;
}

#templatemo_logo h2 {
	color: #98e11d;
	font-size: 12px;
	margin: 15px 0 0 45px;
	padding: 0;
}

/* Menu */
#templatemo_menu {
	float: right;
	height: 41px;
	width: 560px;
	margin: 60px 0 0 0;
	padding: 0;
}

#templatemo_menu ul {
	clear: both;
	float: right;
	list-style: none;
	display: inline;
}

#templatemo_menu li {
	float: left;
}

#templatemo_menu li a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 12px;
	margin: 0 10px 0 0; 
	padding: 0 0 0 5px;
	height: 41px;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}

#templatemo_menu li a b {
	float: left;
	display: block;
	height: 38px;
	padding: 3px 15px 0 11px;
}

#templatemo_menu li.current a, #templatemo_menu li a:hover {
	background: url(images/templatemo_menu_left.png) no-repeat;
	color: #fff;
}

#templatemo_menu li.current a b, #templatemo_menu li a:hover b {
	background: url(images/templatemo_menu_right.png) right top no-repeat;
}

/*End OF menu*/

#templatemo_content_area_top {
	width: 887px;
	background:url(images/templatemo_content_area_top.jpg) #fff   no-repeat;
	margin: 1px 0 0 0;
	padding: 0 0 20px 0;
}

.templatemo_left_top {
	float: left;
	width: 367px;
	margin: 75px 0 0 10px;
}

.templatemo_right_top {
	float: right;
	width: 497px;
	height: 240px;
	background: url(images/templatemo_right_content.png) no-repeat;
	margin: 40px 5px 0 0;
}

.templatemo_right_top img {
	margin: 7px 0 0 7px;
}

#templatemo_search {
	float: right;
	width: 330px;
	height: 30px;
	margin: 4px 26px 0 0;
	padding: 5px 0 0 0;
}

#search_section form {
	float: right;
	margin: 0px;
	padding: 0px;
}

#templatemo_search label {
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 0 5px;
}

#searchfield {
	height: 17px;
	width: 180px;
	padding: 5px;
	color: #4d6715;
	font-size: 13px;
	font-variant: normal;
	line-height: normal;
	background: #b2c290;
	border: 1px solid #ffffff;	
}

#searchbutton {
 	height: 29px;
	margin: 0 0 0 5px;
	padding: 0 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #4d6715;
	background: #b2c290; 
	border: 1px solid #ffffff;
}

.templatemo_news {
	width: 337px;
	min-height: 35px;
	background: url(images/templatemo_news.jpg) no-repeat #fff;
	padding: 15px;
}

.templatemo_news p {
	background: url(images/templatemo_news_bullet.png) no-repeat;
	padding: 0 0 0 30px;
	color: #518101;
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	text-align: justify;
	margin: 0;
}

#templatemo_content_area_bottom {
	width: 887px;
	background:url(images/templatemo_content_area_bottom.jpg) bottom #fff   no-repeat;
	margin: 0;
	padding: 0 0 20px 0;
}

.templatemo_left_section {
	float: left;
	width: 347px;
	margin: 0 0 0 20px;
}

.templatemo_title {
	width: 332px;
	height: 28px;
	background: url(images/templatemo_title_bg.jpg);
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 16px;
	font-variant: small-caps;
	color: #006600;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 11px 0 0 15px;
}

.templatemo_section {
	width: 347px;
	margin: 0 0 10px 0;
}

.templatemo_section_top {
	width: 347px;
	height: 13px;
	background: url(images/templatemo_section_top.jpg);
}

.templatemo_section_mid {
	width: 347px;
	background: url(images/templatemo_section_mid.jpg);
}

.templatemo_section_mid p {
	font-family: "Trebuchet MS", Tahoma, Verdana;
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 0 15px;
}

.templatemo_img_frame {
	float: left;
	width: 113px;
	height: 116px;
	background: url(images/templatemo_img_frame.jpg);
	margin: 0 10px;
}

.templatemo_img_frame img {
	margin: 9px 0 0 18px;	
}

.templatemo_section_bottom {
	width: 347px;
	height: 11px;
	background: url(images/templatemo_section_bottom.jpg);
}

.templatemo_right_section {
	float: right;
	width: 479px;
	margin: 0 13px 0 0;
}

.tempatemo_section_box_1 {
	width: 479px;
	background: url(images/templatemo_right_title_1.jpg) #dbdbdb no-repeat;
	margin: 0 0 0 0;
	padding: 15px 0 10px 0;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}

.tempatemo_section_box_2 {
	width: 479px;
	background: url(images/templatemo_right_title_2.png) #dbdbdb no-repeat;
	margin: 0 0 0 0;
	padding: 15px 0 10px 0;
	font-family: "Trebuchet MS", Tahoma, Verdana;
}

.tempatemo_section_box_1 h1 {
	font-size: 16px;
	font-variant: small-caps;
	color: #fff;
	font-weight: bold;
	margin: 0 0 15px 20px;
}

.tempatemo_section_box_1 p {
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 5px 20px;
}

.tempatemo_section_box_2 h1 {
	font-size: 16px;
	font-variant: small-caps;
	color: #fff;
	font-weight: bold;
	margin: 0 0 15px 20px;
}

.tempatemo_section_box_2 p {
	font-size: 12px;
	color: #5a5a5a;
	text-align: justify;
	margin: 5px 20px;
}

.tempatemo_section_box_2 img {
	vertical-align: top;
	margin: 0 15px;
	border: none;
}

.tempatemo_section_box_2 .margin_none {
	margin: 0;
}

.tempatemo_section_box_2 .margin_left {
	margin: 0 15px 0 20px ;
}

.tempatemo_section_box_2 .margin_right {
	margin: 0 15px 0 0 ;
}

.tempatemo_right_bottom {
	width: 479px;
	height: 12px;
	background: url(images/templatemo_right_bottom.jpg);
}

#templatemo_footer {
	margin: 20px 0;
	padding: 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
	text-align: center;
}

#templatemo_footer a {
	font-weight: bold;
	color: #FFF;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}