/*
CSS Credit: http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #ffc;
	background: #8d6a4a;
}
		
a:link, a:visited { color: #FFFFFF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FFFF00; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.margin_r50 { margin-right: 50px; }

.button_01 a {
	display: block;
	width: 150px;
	height: 30px;
	padding: 7px 0 0 30px;
    background: url(image/templatemo_read_more.png) left bottom no-repeat;

	color: #FFFF66;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0 0 20px 0;
	padding: 2px 0 10px 0;
	font-size: 30px;
	font-weight: bold;
	color: #FFFF66;
}

h2 {
	height: 55px;
	margin: 0 0 0 0;
	padding: 25px 0 0 70px;
	font-size: 26px;
	color: #FFFF66;
	font-weight: normal;
	background: url(image/templatemo_header_bg.png) no-repeat;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 5px 0;
	font-size: 16px;
	font-weight: normal;
	color: #333;	
	border-bottom: 1px dotted #333;
}

h4 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 10px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}

.list_01 {
	margin: 15px 0 20px 40px;
	padding: 0px;
}

.list_01 li {
	margin: 0px;
	padding: 0 0 10px 0;
	list-style-image: url(image/templatemo_list_icon.png);
}

.list_01 li a {
	color: #22160a;
}

#templatemo_search_bar_wrapper {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background: url(image/templatemo_search_wrapper.jpg) center top no-repeat;
}

#templatemo_search_bar {
	width: 980px;
	height: 50px;
	margin: 0 auto;
	background: url(image/templatemo_search.jpg) center top no-repeat;
}

#templatemo_search_bar #search_box {
	float: right;
	width: 200px;
	height: 30px;
	margin: 8px 105px 0 0;
}

#search_box form {
	float: left;
	width: 200px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 16px;
	width: 130px;
	padding: 5px;
	margin: 0 10px 0 0;
	color: #ffffff;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#searchbutton {
 	height: 30px;
	width: 42px;
	margin: 0px;
	padding: 6px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #000000;
	background: none; 
	border: none;
}

#templatemo_banner_bar_wrapper {
	width: 100%;
	height: 160px;
	margin: 0 auto;
	background: url(image/templatemo_banner_wrapper.jpg) center top no-repeat;
}

#templatemo_banner_bar {
	width: 980px;
	height: 160px;
	margin: 0 auto;
	background: url(image/templatemo_banner.jpg) center top no-repeat;
}

#templatemo_menu_wrapper {
	width: 100%;
	height: 60px;
	background: url(image/templatemo_menu_wrapper.jpg) center top no-repeat;
}

#templatemo_menu {
	width: 980px;
	height: 60px;
	margin: 0 auto;
	padding: 0px;
	background: url(image/templatemo_menu.jpg) center top no-repeat;
}

#templatemo_menu ul {
	float: right;
	padding: 0px;
	margin: 18px 50px 0 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0 20px;
	margin: 0px;
	display: inline;
	border-right: 1px solid #ffffff;
}

#templatemo_menu ul li a {
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;	
	background: url(images/templatemo_menu_right.jpg) right top no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	border-bottom: 1px dashed #ffffff;	
}

#templatemo_menu .last {
	border: none;
}

#templatemo_content_wrapper {
	clear:both;
	width: 100%;
	margin: 0 auto;
	background: url(image/templatemo_content_wrapper.jpg) center top no-repeat;
}

#templatemo_content {
	width: 950px;
	margin: 0 auto;
	padding: 20px 15px;
	background: url(image/templatemo_content_bg.jpg) center top no-repeat;
}

#templatemo_content p {
	margin-bottom: 10px;
}

.section_w950 {
	clear: both;
	width: 950px;
}

.section_w450 {
	width: 450px;
}

.section_content {
	padding: 0 0 0 70px;
}

.section_one {
	text-align: center;
}

.section_one p {
	font-size: 18px;
	line-height: 30px;
}

.image_wrapper_02 {
	float: left;
	position: relative;
	width: 192px;
	height: 192px;
	padding: 19px 0 0 11px;
	margin-right: 15px;
}

.image_wrapper_02 .img {
	width: 160px;
	height: 160px;
}

.image_wrapper_02 span {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 192px;
	background:url(image/templatemo_gallery_img_frame.png) no-repeat;
}

#templatemo_footer {
	clear: both;
	width: 780px;
	height: 40px;
	padding: 20px 100px;
	text-align: center;
	margin-top: 20px;
	background: url(image/footer_bg.png) no-repeat;
}