/*
CSS Credit: http://sc.xueit.com
*/

html {
	background: url(images/templatemo_bg.jpg) #001c18 repeat-x;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(images/templatemo_bg.jpg) #001c18 repeat-x;
}

a:link, a:visited {	color: #24f0c9; text-decoration: underline; }
a:active, a:hover { color: #FFFF00; text-decoration: none; }

p {
	font-family: Georgia;
	font-size: 12px;
	color: #fff;
	text-align: justify;
	margin: 0 0 10px 0;	
}

h1 {
	font-family: Georgia;
	font-size: 14px;
	color: #fff;
	margin: 0 0 10px 0;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #24f0c9;
	margin: 0 0 10px 0;
}

h3 {
	font-family: Tahoma;
	font-size: 13px;
	color: #a18800;
	font-weight: normal;
	margin: 0 0 3px 0;
}

.templatemo_container {
	width: 940px;
	margin: auto;
}

#templatemo_header {
	width: 940px;
	height: 80px;
	background: url(images/templatemo_header.jpg) top no-repeat;
	padding: 5px 0 0 0;
}

#templatemo_logo_area {
	width: 100%;
	margin: 30px 0 0 0;
}

#templatemo_logo {
	float: left;
	width: 30%;	
	font-family: Georgia;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	text-align: center;
}

#templatemo_logo_left {
	float: left;
	width: 35%;
	background: url(images/templatemo_logo_left.png) right no-repeat;
}

#templatemo_logo_right {
	float: right;
	width: 35%;
	background: url(images/templatemo_logo_right.png) left no-repeat;
}

/* menu */

#templatemo_menu_left {
	float: left;
	background: url(images/templatemo_menu_left.png) no-repeat left;;
	width: 7px;
	height: 41px;
}

#templatemo_menu {
	width: 450px;
	height:41px;
	padding:0;
	margin: 0 0 20px 0;

}

#templatemo_menu ul {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 435px;
	list-style: none;
	background: url(images/templatemo_menu_right.png) right no-repeat;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	padding: 11px 15px 0 15px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_menu_divider.png) center right no-repeat;
	color: #fff;	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #24f0c9;
}

#templatemo_menu li .last {
	background: none;
}

/* end of menu*/

#templatemo_top_section {
	width: 927px;
	margin: 0 0 20px 5px;
}

#templaetmo_top_section_top {
	background: url(images/templatemo_top_section_top.png) #001a17 left top no-repeat;
	width: 887px;
	padding: 15px 20px 1px 20px;
}

#templaetmo_top_section_top img {
	float: right;
	margin: 0 0 20px 20px;
}

#templaetmo_top_section_bottom {
	background: url(images/templatemo_top_section_bottom.png) bottom no-repeat;
	width: 927px;
	height: 21px;
}

#templatemo_top_section_glow {
	background: url(images/templaetmo_bottom_glow.png) left bottom no-repeat;
}

.templatemo_middle_two_col {
	float: left;
	width: 449px;
	background: url(images/templatemo_middle_two_col_bg.png) bottom no-repeat;
	margin: 0 10px 25px 10px;
	padding: 0 0 20px 0;	
}

.templatemo_middle_two_col h2 {
	float: left;
	margin: 0 20px 10px 20px;
}

.templatemo_click_more {
	float: right;
	background: url(images/templatemo_click_more_botton.png);
	width: 125px;
	height: 20px;
	font-family: Georgia;
	font-size: 11px;
	color: #fff;
	text-align: center;
	margin: 0 20px 0 0;
	padding: 3px 0 0 0;
}

.templatemo_click_more:hover {
	text-decoration: underline;	
}

.templatemo_click_more a {
	color: #fff;
	text-decoration: none;
} 

.templatemo_title_style_1 {
	width: 409px;
	margin: 10px 20px;
}

.templatemo_title_style_1 h1 {
	float: left;
	display: block;
	margin: 0;
}

.templatemo_title_style_1 .templatemo_title_right {
	float: right;
	width: 70%;
	height: 15px;
	background: url(images/templatemo_title_style_1.png) no-repeat;
	margin: 0;
}

.templatemo_no_bullet {
	float: left;
	width: 20px;
	height: 22px;
	background: url(images/templatemo_list.png) no-repeat;
	margin: 0 20px 10px 20px;
	font-family: Georgia;
	font-size: 12px;
	color: #fff;
	padding: 2px 0 0 4px;
}

.templatemo_middle_two_col p {
	margin: 0 20px 10px 20px;
}

#templatemo_bottom_panel {
	width: 100%;
	background: url(images/templatemo_bottom_panel_bg.jpg) #011311 top repeat-x;
	padding: 20px 0;
}

#templatemo_bottom_panel .templatemo_bottom_two_col {
	float:left;
	width: 415px;
	margin: 0 27px;
}

.templatemo_bottom_two_col p {
	margin: 0 10px 10px 10px;
}

.templatemo_bottom_two_col img {
	float: left;
	margin: 0 10px 10px 10px;
}

.templatemo_title_style_2 {
	width: 404px;
	height: 30px;
	background: url(images/templatemo_title_style_2.png) no-repeat;
	margin: 0 0 30px 0;
	padding: 4px 0 0 10px;
}

.templatemo_title_style_2  h1 {
	color: #00ffd3;
	margin: 0;
	background: url(images/templatemo_title_bullet.png) no-repeat;
	background-position: 0 4px ;
	padding: 0 0 0 20px;
}

.templatemo_v_line {
	
	float: left;
	width: 0px;
	border-left: 1px solid #01221f;
	border-right: 1px solid #000;
	height: 200px;
	
}

#templatemo_footer {
	width: 100%;
	background: #000;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}

.cleaner img {
	margin: 0 0 0 30px;
}