/*
CSS Credit: http://sc.xueit.com
*/

html {
	background: url(images/templatemo_html_bg.jpg);
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(images/templatemo_bg.jpg) repeat-x;
}

a:link, a:visited {	color: #d99e00; text-decoration: underline; }
a:active, a:hover { color: #FFFFFF; text-decoration: none; }

p {
	font-family: Arial;
	font-size: 12px;
	color: #b48842;
	text-align: justify;
	margin: 0 0 10px 0;	
}

span.date {
	font-family: Tahoma;
	font-size: 11px;
	color: #999999;
	text-align: justify;
	margin: 0 0 3px 0;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #ac6c07;
	margin: 0 0 10px 0;
}


h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #ac6c07;
	margin: 0 0 10px 0;
}

h3 {
	font-family: Tahoma;
	font-size: 13px;
	color: #a18800;
	font-weight: normal;
	margin: 0 0 3px 0;
}

#templatemo_container {
	width: 900px;
	margin: auto;
}

#templatemo_top {
	clear: both;
	width: 900px;
	margin: 0;
	padding: 0;
	
}

#templatemo_header {
	width: 900px;
	height: 312px;
	background: url(images/templatemo_header.jpg);
	padding: 1px 0 0 0;
}

#templatemo_header_logo_area {
	width: 295px;
	height: 65px;
	margin: 170px 0 0  35px ;
}

#templatemo_header_logo {
	color: #d99e00;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	margin: 0 0 10px 0;
}

#templatemo_header_logo span.small_text {
	font-size: 18px;
}

#templatemo_header_slogan {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	color: #ffdd83;
	margin: 0;
	float: left;
}

/* menu */

#templatemo_menu {
	float: left;
	width: 900px;
	height: 54px;
	background: url(images/templatemo_menu_bg.jpg);
	padding:0;
}

#templatemo_menu ul {
	float: left;
	margin: 0 0 0 30px;
	padding: 0 0 0 0;
	width: 960px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	padding: 15px 40px 0 40px;
	height: 39px;
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_menu_divider.png) center right no-repeat;
	color: #daa411;	
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(images/templatemo_menu_current.jpg);
}

#templatemo_menu li .last {
	background: none;
}

/* end of menu*/

#templatemo_welcome_area {
	width: 820px;
	background: url(images/templatemo_welcome_bg.jpg) repeat-y;
	padding: 40px 40px 20px 40px ;
}

#templatemo_welcome_area .templatemo_title_1 {
	height: 35px;
	width: 385px;
	background: url(images/templatemo_title_line.jpg) no-repeat;
	background-position: 35px 33px;
	margin: 0 0 10px 0;
}

#templatemo_welcome_area h1 {
	height: 25px;
	background: url(images/templatemo_title_style_1.png) left no-repeat;
	padding: 5px 0 5px 40px;
}

#templatemo_welcome_area p {
	padding: 0 40px;
}

#templatemo_welcome_area img {
	float: right;
	margin: 0 0 10px 10px;
	border: 2px solid #644428;
}

#templatemo_welcome_bottom {
	background: url(images/templatemo_welcom_bottom.jpg);
	height: 5px;
	width: 900px;
}

#templaetmo_bottom_area {
	width: 820px;
	padding: 10px 40px;
	background: url(images/templatemo_bottom_panel.jpg);
}

#templaetmo_bottom_area .templatemo_three_col {
	width: 272px;
	float: left;
}

.templatemo_title_2 {
	height: 29px;
	padding: 9px 0 0 20px;
	background: url(images/templatemo_title_style_2.png) left top no-repeat;
}

.templatemo_three_col .title_left {
	
		margin: 0 10px 10px 20px;
	
}

.templatemo_three_col .title_mid {
	margin: 0 10px 10px 10px;
}

.templatemo_three_col .title_right {
	margin: 0 0 10px 10px;
}

.templatemo_three_col p.left {
	margin: 0 30px 10px 40px;
}

#templaetmo_bottom_area p.middle {
	 margin: 0 30px 10px 30px;
}
 
#templaetmo_bottom_area img {
	float: left;
	margin: 0 10px 2px 30px;
}
 
.templatemo_three_col p.right {
	margin: 0 20px 10px 30px;
}

.templatemo_v_line {
	width: 1px;
	height: 210px;
	background-color: #4b240e;
	float: left;
}

#templatemo_footer {
	width: 100%;
	background: #351402;
	color: #cf9232;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}

.cleaner img {
	margin: 0 0 0 30px;
}