/*
http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #543d27;
	background: #2c261d;
}
		
a:link, a:visited { color: #631c00; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #000000; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.divider {
	clear: both;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background: url(images/templatemo_horizontal_divider.jpg) bottom repeat-x;
}

.fl { float: left; }
.fr { float: right; }

.margin_r_60 { margin-right: 60px; }

.margin_r_330 { margin-right: 330px; }

.button_01 a {
	display: block;
	width: 90px;
	height: 30px;
	padding: 5px 0 0 0;
	background: url(images/templatemo_readmore_bg.png) no-repeat;
	
	color: #dbd0c1;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover {
	color: #FFFF99;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: normal;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0 0 0px 0;
	font-size: 16px;
	font-weight: bold;
	color: #e0b328;	
}

h4 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: #27231d;
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}

#templatemo_container_wrapper_outter {
	width: 100%;
	background: url(images/templatemo_container_outter.jpg) center top no-repeat;
}

#templatemo_container_wrapper_inner {
	width: 100%;
	background: url(images/templatemo_container_inner.jpg) center bottom no-repeat;
}

#templatemo_container {
	width: 990px;
	margin: 0 auto;
}

/* menu */

#templatemo_menu {
	position: relative;
	clear: both;
	width: 930px;
	height: 110px;
	padding: 0 30px;
	background:	url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	padding: 15px 0 0 0;
	margin: 0px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 100px;
	padding: 0 0 0 0;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #f9efd0;	
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #ebc759;
}

#site_title {
	position: absolute;
	width: 320px;
	left: 333px;
	padding: 15px 0 0 0;
	top: 0px;
	text-align: center;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 14px;
	font-size: 16px;
	color: #3d2a10;
}

/* end of menu */

/* banner */

#templatemo_banner {
	clear: both;
	width: 990px;
	height: 250px;
	background: url(images/templatemo_banner_bg.png) center no-repeat;
}

#templatemo_banner #banner_section {
	float: right;
	width: 400px;
	margin-top: 30px;
	margin-right: 80px;
	text-align: center;
}

#templatemo_banner h2 {
	color: #eaecd0;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 24px;
}

#templatemo_banner p {
	color: #eeefd4;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 30px;
}

/* end of banner */

/* content */
#templatemo_content_wrapper {
	position: relative;
	clear: both;
	width: 990px;
	
	background: url(images/templatemo_content_middle.png) center repeat-y;	
}

#templatemo_content {
	width: 940px;
	padding: 80px 25px 0 25px;
	margin-bottom: 85px;
	background: url(images/templatemo_content_top.jpg) center top no-repeat;
}

#templatemo_content_wrapper .content_bottom {
	position: absolute;
	width: 990px;
	height: 85px;
	bottom: -85px;
	left: 0px;
	background: url(images/templatemo_footer_bg.png) no-repeat;
}

#templatemo_content h2 {
	display: block;
	font-size: 24px;
	padding: 0 0 25px 30px;
	margin-bottom: 10px;
	color: #3e2b18;
	background: url(images/templatemo_h2_bg.png) bottom left no-repeat;
}

#main_column {
	float: left;
	width: 590px;
	margin-left: 50px;
	
}

#side_column {
	position: relative;
	float: right;
	width: 180px;
	color: #20150f;
	background: #967853 url(images/side_column_top.png) no-repeat;;
	margin: 0 50px 50px 0;
	padding: 20px 20px 0 20px;
}

#side_column .side_column_bottom {
	position: absolute;
	bottom: -50px;
	left: 0px;
	width: 220px;
	height: 50px;
	background:url(images/side_column_bottom.png) no-repeat;
}

#main_column p {
	margin-bottom: 10px;
}

#main_column .section_w590 {
	width: 590px;
}

.section_w590_content {
	padding-left: 30px;
}

.popular_meal_box {
	float: left;
	overflow: hidden;
	width: 190px;
	height: 250px;
	padding: 28px;
	background: url(images/dish_list_bg.png) no-repeat;
}

.popular_meal_box img {
	border: 1px solid #5a3f28;
	margin-bottom: 10px;	
}

.popular_meal_box p {
	color: #191007;
	margin-bottom: 10px;
}

.popular_meal_box .price {
	float: left;
	color: #e0b328;
	font-size: 14px;
	font-weight: bold;
}

.popular_meal_box a {
	float: right;
	color: #e0b328;
	font-weight: bold;
}


#side_column .side_column_section {
	margin-bottom: 30px;
}

.side_column_section img {
	border: 1px solid #ffffff;
	margin-bottom: 10px;
}

.category_list {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-image: url(images/templatemo_list_icon_bg.jpg);
}

.category_list li {
	margin: 0px;
	padding: 0 0 5px 0;
}

.category_list li a {
	color: #20150f;
}

.category_list li a:hover {
	color: #990000;
}
/* end of content */

/* footer */

#templatemo_footer {
	clear: both;
	text-align: center;
	width: 930px;
	padding: 50px 30px;
	color: #595144;
	
}

#templatemo_footer a {
	color: #696052;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #696052;
}

.footer_menu .last_menu {
	border: none;
}


/* end of footer */