/*
Credit: http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #33322e;
	background: #39443D url(images/templatemo_body_bg.jpg) repeat-x;
/*	background: #47443c url(images/templatemo_body_bg_2.jpg) repeat-x;	*/
}
		
a:link, a:visited { color: #000000; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #000000; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.mr_w40 {
	margin-right: 40px;
}

.divider {
	clear: both;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background: url(images/templatemo_horizontal_divider.jpg) bottom repeat-x;
}

.fl { float: left; }
.fr { float: right; }

.m_right { margin-right: 30px; }

.button_01 a {
	display: block;
	width: 100px;
	height: 26px;
	padding: 4px 0 0 0;
	background: url(images/templatemo_button_01.jpg) no-repeat;
	
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0 0 10px 0;
	padding: 2px 0 10px 0;
	font-size: 30px;
	font-weight: normal;
	color: #ffffff;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 10px 0;
	font-size: 30px;
	font-weight: normal;
	color: #000000;
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0 2px 0;
	font-size: 14px;
	font-weight: bold;
	color: #000000;	
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}

#templatemo_container {
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(images/templatemo_container_bg.png) repeat-y;
}

/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height:  39px;
	padding: 0 10px;
	background: #4C554C;
	border-bottom: 1px solid #38352e;
}

#templatemo_menu ul {
	text-align: right;
	padding: 10px 0 0 0;
	margin: 0px auto;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0 20px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #AFC4B7;	
	background: url(images/templatemo_menu_right.jpg) right top no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #ffffff;
}
/* end of menu */

/* site title bar */
#templatemo_banner {
	width: 900px;
	height: 100px;
	padding: 0 40px;
	background: url(images/templatemo_banner_bg.jpg) no-repeat;
}

#templatemo_banner  #site_title {
	float: left;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 500px;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: inline-block;
	margin-left: 20px;
	font-size: 18px;
	color: #000000;
}

#templatemo_banner #search_box {
	float: right;
	width: 240px;
	height: 34px;
}

#search_box form {
	float: left;
	width: 240px;
	height: 34px;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	background: url(images/templatemo_search_box.jpg) no-repeat;
}

#searchfield {
	height: 16px;
	width: 190px;
	padding: 5px;
	margin: 0px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#searchbutton {
 	height: 30px;
	width: 35px;
	margin: 0px;
	padding: 6px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: none; 
	border: none;
}
/* end of site title bar */

.fw_section {
	clear: both;
	width: 940px;
	padding: 0 20px;
	height: 201px;
	margin-bottom: 5px;
	overflow: hidden;
}

.blue_section {
	background: url(images/templatemo_blue_section_bg.jpg) no-repeat;
}

.green_section {
	background: url(images/templatemo_green_section_bg.jpg) no-repeat;
}

.fw_section_content {
	float: right;
	padding: 40px 0 20px 0;
	width: 560px;
	color: #ffffff;
}

.fw_section_content p {
	margin-bottom: 20px;
}

#templatemo_content {
	width: 920px;
	padding: 40px 20px 20px 40px;
}

#main_column {
	float: right;
	width: 560px;
}

#side_column {
	float: left;
	width: 300px;
}

.section_w280 {
	width: 280px;
	margin-bottom: 30px;
}

.news_section {
	clear: both;
	margin-bottom: 20px;
}

.news_section img {
	margin-bottom: 10px;	
}

.section_w560 {
	clear: both;
	margin-bottom: 60px;
}

.section_w560 p {
	margin-bottom: 10px;
}

.hot_destionation {
	width: 260px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.hot_destionation li {
	margin: 0px;
	padding: 0px;
	color: #4C554C;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #817c6f;
}

.hot_destionation li a {
	color: #000000;
	font-weight: bold;
}

.hot_destionation li a:hover {
	color: #000000;
	text-decoration: none;
}

.hot_destionation li span {
	clear: both;
	display: block;
	color: #4C554C;
	font-weight: normal;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 900px;
	padding: 20px 40px;
	margin: 0 auto;
	text-align: center;
	color: #716d61;
	background:#33322e;
	border-top: 1px solid #22211e;
}

#templatemo_footer a {
	font-weight: bold;
	color: #a8a396;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #a8a396;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */