/*
CSS Credit: http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #1b9bd7;
}
		
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FF0066; text-decoration: underline; }

p { margin: 0px; padding: 0px; text-align: justify; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.m_right { margin-right: 30px; }

.button_01 a {
	display: block;
	width: 90px;
	height: 24px;
	padding: 6px 0 0 30px;
    background: url(images/templatemo_button_01.jpg) no-repeat;
	
	color: #191717;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 5px 0;
	font-size: 20px;
	font-weight: normal;
	color: #333;	
	border-bottom: 1px dotted #333;
}

h4 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}

.list_01 {
	margin: 0 0 20px 40px;
	padding: 0px;
}

.list_01 li {
	margin: 0px;
	padding: 0 0 10px 0;
	list-style-image: url(images/templatemo_list_icon_01.jpg);
}

.list_01 li a {
	color: #ffffff;
}

#templatemo_site_title_bar_wrapper {
	width: 100%;
	height: 110px;
	background: url(images/templatemo_title_bar_repeat.jpg) repeat-x;
}

#templatemo_site_title_bar {
	width: 780px;
	height: 110px;
	padding: 0 90px;
	margin: 0 auto; 
	background: url(images/templatemo_title_bar_bg_with_search.jpg) center no-repeat;
}

#templatemo_site_title_bar  #site_title {
	float: left;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 500px;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #000000;
}

#templatemo_site_title_bar #search_box {
	float: right;
	width: 240px;
	height: 30px;
	margin: 15px 0 0 0;
	padding: 0 15px;
}

#search_box form {
	float: left;
	width: 240px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 16px;
	width: 185px;
	padding: 5px;
	margin: 0px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#searchbutton {
 	height: 30px;
	width: 42px;
	margin: 0px;
	padding: 6px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: none; 
	border: none;
}

#templatemo_menu_wrapper {
	width: 100%;
	height: 60px;
	background: url(images/templatemo_menu_bar_repeat.jpg) repeat-x;
}

#templatemo_menu {
	width: 860px;
	height: 60px;
	margin: 0 auto;
	padding: 0 50px;
	background: url(images/templatemo_menu_bar_bg.jpg) center no-repeat;
}

#templatemo_menu ul {
	width: 750px;
	overflow: hidden;
	padding: 15px 0 0 0;
	margin: 0px auto;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 25px;
	width: 100px;
	padding: 5px 5px 0 0;
	margin: 0 10px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #292922;	
	background: url(images/templatemo_menu_right.jpg) right top no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	position: relative;
	background: url(images/templatemo_menu_hover_right.png) right no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span {
	position: absolute;
	top: 0px;
	left: -5px;
	width: 5px;
	height: 30px;
	background: url(images/templatemo_menu_hover_left.png) right no-repeat;
}

#templatemo_content_wrapper_outer {
	width: 100%;
	background: url(images/templatemo_content_wrapper_outrer_repeat.jpg) top repeat-x;
}

#templatemo_content_wrapper_inner {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_content_wrapper_outrer.jpg) center top no-repeat;
}

#templatemo_content_wrapper {
	width: 960px;
	margin: 0 auto;
	background: url(images/templatemo_content_bg.png) center repeat-y;
}

#templatemo_content {
	position: relative;
	width: 780px;
	margin: 0 auto;	
	padding: 40px 90px 0 90px;
	margin-bottom: 15px;
	background: url(images/templatemo_content_wrapper_inner.jpg) center top no-repeat;		
}

#templatemo_content .content_bottom {
	position: absolute;
	width: 960px;
	height: 15px;
	bottom: -15px;
	left: 0px;
	background:url(images/templatemo_content_bottom.png) no-repeat;
}

#main_column {
	float: left;
	width: 450px;
}

#side_column {
	float: right;
	width: 260px;
	padding: 0 15px;
}

#main_column .post_box {
	clear: both;
	margin-bottom: 50px;
}

.post_box h2 {
	font-size: 24px;
	color: #4f4f4f;
	padding: 2px 0;
	margin-bottom: 10px;
	text-align: left;
}

.post_box .post_info {
	width: 100%;
	color: #666;
	background: #fffd41;
}

.post_box .post_info a {
	color: #666;
	text-decoration: none;
}

.post_box .post_info a:hover {
	color: #333;
}

.post_info .post_date {
	float: left;
	padding: 2px 0;
	width: 120px;
	text-align: center;
	background: #c3e368;
}

.post_info .post_author {
	float: left;
	padding: 2px 0;	
	width: 120px;
	text-align: center;
	background: #71d2ff;
}

.post_info .post_comment {
	float: left;
	padding: 2px 0;	
	width: 120px;
	text-align: center;
	background: #88b4fe;
}

.post_box .post_body {
	clear: both;
	padding: 30px 0 20px 0;
	background: url(images/templatemo_post_body_bg.png) top center no-repeat;
}

.post_body img {
	border: 1px solid #CCC;
	margin-bottom: 15px;
}

.post_body p {
	margin-bottom: 10px;
}

.post_box .continue a {
	display: block;
	width: 80px;
	padding: 2px 0;
	text-align: center;
	color: #4c7fd4;
	font-weight: bold;
	background: #dfe0e1;	
	border-left: 5px solid #88b4fe;
}

#side_column .ads_250_250 {
	border: 5px solid #ccc;
}

#side_column .side_column_section {
	clear: both;
	width: 260px;
}

.ads_125_125 {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 0 10px 0;
}

.right_padding_10 {
	margin-right: 10px;
}

.recent_post {
	color: #747474;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.recent_post h4 a {
	font-size: 12px;
	color: #3fa7d8;
	font-weight: bold;
}
.recent_post h4 a:hover {
	text-decoration: none;
	color: #FF0066;
}

.side_column_section ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.side_column_section li {
	margin: 0 0 3px 0;
	padding: 0px;
}

.side_column_section li a {
	display: block;
	width: 240px;	
	padding: 2px 10px;
	color: #666;
	outline: none;
	background: #a0c3ff;	
}

.side_column_section li a:hover {
	background: #d9ee9f;	
	text-decoration: none;
}

#templatemo_footer_wrapper {
	width: 100%;
	background: url(images/templatemo_footer_wrapper.jpg) bottom repeat-x;
}

#templatemo_footer {
	width: 860px;
	min-height: 180px;
	margin: 0 auto;	
	padding: 50px;	
	color: #d9dcc6;
	background: url(images/templatemo_footer_bg.jpg) center bottom no-repeat;
}

.section_w860 {
	text-align: center;
	width: 920px;
}

.section_w860 a {
	color: #ffffff;
}

.section_w200 {
	float: left;
	width: 180px;
	padding: 0 20px 0 0;	
}

.section_w260 {
	float: left;
	width: 260px;
	padding: 0 0 0 0;
}

.footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_menu_list li {
	margin: 0px;
	padding: 0px;
}

.footer_menu_list li a {
	color: #d9dcc6;
	font-weight: normal;
	text-decoration: none;
}

.footer_menu_list li a:hover {
	color: #ffffff;
	text-decoration: none;
}