<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tt31</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EnCodingFilter</filter-name>
    <filter-class>zs.shopping.filter.EnCodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnCodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminFilter</filter-name>
    <filter-class>zs.shopping.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>usersFilter</filter-name>
    <filter-class>zs.shopping.filter.UsersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>usersFilter</filter-name>
    <url-pattern>/users/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
     <filter-name>usersFilter</filter-name>
     <url-pattern>/ForderSer</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>zs.shopping.util.ConextListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>