/*
CSS Credit: http://sc.xueit.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffc;
	background: #ffffff;
}
		
a:link, a:visited { color: #f9a025; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FFFF66; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.fl { float: left; }
.fr { float: right; }

.margin_r10 { margin-right: 10px; }

.button_01 a {
	display: block;
	width: 150px;
	height: 30px;
	padding: 7px 0 0 30px;
    background: url(image/templatemo_read_more.png) left bottom no-repeat;
	
	color: #f5e5c7;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

h1 {
	margin: 0 0 20px 0;
	padding: 2px 0 10px 0;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	color: #ffffff;
	font-weight: normal;
	background: url(image/templatemo_header_bg.png) no-repeat;
}

h3 {
	margin: 0 0 10px 0;
	padding: 2px 0 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: #CCC;	
	border-bottom: 1px dotted #333;
}

h4 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.image_wrapper {
	border: 1px solid #ffffff;
	margin-top: 3px;
	margin-bottom: 10px;
}

.fl_image {
	float: left;
	margin-right: 15px 
}

.fr_image {
	float: right;
	margin-left: 15px 
}

.list_01 {
	margin: 15px 0 20px 40px;
	padding: 0px;
}

.list_01 li {
	margin: 0px;
	padding: 0 0 10px 0;
	list-style-image: url(image/templatemo_list_icon.png);
}

.list_01 li a {
	color: #22160a;
}

#templatemo_container {
	width: 980px;
	margin: 0 auto;
}

/* banner */

#templatemo_banner {
	width: 980px;
	height: 430px;
	background:url(images/templatemo_banner.jpg) no-repeat;
}

/* end of banner */

/* end of menu */

#templatemo_menu {
	width: 980px;
	height: 110px;
	background: url(images/templatemo_menu.jpg) no-repeat;
}

#templatemo_menu ul {
	float: right;
	padding: 0px;
	margin: 30px 50px 0 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0 20px;
	margin: 0px;
	display: inline;
	border-right: 1px solid #ffffff;
}

#templatemo_menu ul li a {
	padding: 0 0 15px 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #AAA;	
	background: url(images/templatemo_menu_right.jpg) right top no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(images/templatemo_menu_hover.png) center bottom no-repeat;
	color: #FFF;
}

#templatemo_menu .last {
	border: none;
}

/* end of menu */

/* content */

#templatemo_content {
	clear: both;
	width: 840px;
	padding: 30px 70px;
	background: url(images/templatemo_content_bg.jpg) center repeat-y;
}

#main_column {
	float: left;
	width: 500px;
}

#side_column {
	float: right;
	width: 260px;
	padding: 0;
}

#main_column .post_box {
	clear: both;
}

.post_box h2 {
	font-size: 34px;
	color: #ffffff;
	padding: 2px 0;
	margin-bottom: 10px;
	text-align: left;
}

.post_box .post_info {
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.post_box .post_info li {
	margin-right: 20px;
	padding: 0px;
	display: inline;
}

.post_info .post_date {
	color: #c2b59b;
}

.post_info .post_author a {
	color: #3497d2;
}

.post_info .post_comment a {
	color: #f9a025;
}

.post_box .post_body {
	clear: both;
	padding: 30px 0 20px 0;
	background: url(images/templatemo_post_body_bg.png) top center no-repeat;
}

.post_body img {
	border: 1px solid #CCC;
	margin-bottom: 15px;
}

.post_body p {
	margin-bottom: 10px;
}

.post_box .continue a {
	display: block;
	width: 80px;
	padding: 2px 0;
	text-align: center;
	color: #f9a020;
	font-weight: bold;
	background: #3d383b;	
	border-left: 5px solid #f9a020;
}

#side_column .ads_250_250 {
	border: 5px solid #ffffff;
}

#side_column .side_column_section {
	clear: both;
	width: 260px;
}

.ads_125_125 {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 0 10px 0;
}

.right_padding_10 {
	margin-right: 10px;
}

.recent_post {
	color: #747474;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.recent_post h4 a {
	font-size: 12px;
	color: #3fa7d8;
	font-weight: bold;
}
.recent_post h4 a:hover {
	text-decoration: none;
}

.section_w125 {
	width: 120px;
	padding: 0 5px 0 0;	
}

.side_column_section .friends {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.friends li {
	padding: 0px;
	margin: 0px;
}

.friends li a {
	font-size: 11px;
	color: #ffffff;
}

.friends li a:hover {
	color: #f9a01e;
}

.gallery {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.gallery li { 
	margin: 0 0 0 0;
	padding: 0px;
	display: inline;
}

.gallery li a {
	float: left;
	display: block;
	margin: 0 10px 10px 0;
	border: 1px solid #ffffff;
}

.gallery li img {
	width: 70px;
	height: 70px;	
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 840px;
	height: 90px;
	color: #333;
	padding: 210px 70px 0 70px;
	background: url(images/templatemo_footer_bg.jpg) center no-repeat; 
}

#templatemo_footer a {
	color: #000000;
	font-weight: bold;
}
/* end of footer */